@page
@model lab_80_ASP_Core_Web.Pages.CustomerOrderedByModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Customers Table</h1>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Title</th>
        <th>Contact Name</th>
        <th>Address </th>
        <th>City </th>
        <th>Region </th>
        <th>Postal Code</th>
        <th>Country </th>
        <th>Phone </th>
        <th>Fax </th>
    </tr>
    @foreach (var item in Model.customers)
    {
        <tr>
            <td>@item.CustomerID</td>
            <td>@item.CompanyName</td>
            <td>@item.ContactTitle</td>
            <td>@item.ContactName</td>
            <td>@item.Address</td>
            <td>@item.City</td>
            <td>@item.Region</td>
            <td>@item.PostalCode</td>
            <td>@item.Country</td>
            <td>@item.Phone</td>
            <td>@item.Fax</td>
        </tr>
    }
</table> 